body{
    background-color: rgb(7, 0, 13);
    margin-left: 15%;
    margin-right: 15%;
}
h1{
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    color: rgb(216, 13, 169);
}
main{ 
    background-color: rgb(246, 248, 250);
}